body {
  background: #dff0d8; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, antiquewhite,#dff0d8, #428bca); /* Safari */
  background: -o-radial-gradient(circle, antiquewhite,#dff0d8, #428bca); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, antiquewhite,#dff0d8, #428bca); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, antiquewhite,#dff0d8, #428bca); /* Standard syntax */
  font-family: 'Comic Sans MS', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  color: #428bca;
}
h1, h2{
    font-family: 'Comic Sans MS', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-size: 70pt;
    color: #428bca;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #428bca, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
}
h2{
      font-size: 40pt;
}

.training-date-input{ 
    background-color: white !important;
    cursor: pointer !important;
}
.panel-body {
     background: #dff0d8; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, antiquewhite,#dff0d8, #428bca); /* Safari */
  background: -o-radial-gradient(circle, antiquewhite,#dff0d8, #428bca); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, antiquewhite,#dff0d8, #428bca); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, antiquewhite,#dff0d8, #ffffe6); /* Standard syntax */
  font-family: 'Comic Sans MS', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    color: white;
}

