<td>{{time}}</td>
            <td>{{type}}</td>
            <td>{{date}}</td>
            <td><a href="#trainings/delete/{{id}}" class="delete-training"><span class="glyphicon glyphicon-trash"></span></a></td>